extends ../layout

block content
  div(ng-controller="postsNewController")
    h1= title
    form(method="post" action="./create" enctype="multipart/form-data")
      div#uploadArea
        div
          span Title :
          input(type="text", name="title", id="editArticleTitle", ng-model="post.title")
        div
          span Body :
          textarea(name="body", rows=10, id="editArticleBody", ng-model="post.body")
        div
          input(ng-file-select type="file" name="images" ng-model="files" multiple="true")="Attach any File"
        div
          span(class="file-name", ng-model="post.fileName")="{{fileName}}"
          input(type="file", name="images", file-upload multiple)
          ul
            li(ng-repeat="file in files")="{{file.name}}"
            input(ng-repeat="file in files" type="hidden" value="{{file.name}}" name="paths[]")
        div#editArticleSubmit
          input(type="submit", value="Send", id="submitButton")
        pre="{{post}}"