extends ../layout

block content
  div(ng-controller="postsNewController")
    h1= title
    form(method="post" action="./create" enctype="multipart/form-data")
      div#uploadArea
        div
          span Title :
          input(type="text", name="title", id="editArticleTitle", ng-model="post.title")
        div
          span Body :
          textarea(name="body", rows=10, id="editArticleBody", ng-model="post.body")
        div(file-dropzone file="file" file-name="fileName" style="padding: 20px")= "DROP FILE HERE"
          img(ng-src="{{file}}" ng-model="post.file" style="max-width: 640px")
          span(class="file-name", ng-model="post.fileName")="{{fileName}}"
          input(type="file", name="images", file-upload multiple)
          ul
            li(ng-repeat="file in files")="{{file.name}}"
            input(ng-repeat="file in files" type="hidden" value="{{file.name}}" name="paths[]")
          button(type="button", id="uploadButton", ng-click="startUpload()")= "Upload"
        div#editArticleSubmit
          input(type="submit", value="Send", id="submitButton")
        pre="{{post}}"